* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
  /* font-size: 1.5rem; */
  /* padding: 1rem; */
}

.left p {
  padding: 1rem 2rem 1rem 1rem;
  background: linear-gradient(rgb(213, 176, 199), rgb(245, 21, 159));
  font-size: 2.5rem;
  color: #fff;
}

.right ul li {
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  background: linear-gradient(rgb(244, 242, 242), rgb(213, 176, 199));
  border: none;
}

.right ul li a {
  display: inline-block;
  color: black;
  font-weight: 700;
  padding: 1.4rem;
}

.right ul li a:hover {
  background: linear-gradient(rgb(213, 176, 199), rgb(245, 21, 159));
  color: #fff;
}
